<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <img  class="centered-header-image" src="/assets/Images/logo.png" />
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="precioTotal !== 0">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Pedido</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let items of selectedCompraInfo">
          <ion-thumbnail slot="start">
            <img [src]="items.url"/>
          </ion-thumbnail>
          <ion-text justify="space-between">{{items.name}}
          <br>{{items.price | currency:"COP":"symbol"}}</ion-text>
        </ion-item>
      </ion-list>
    </ion-card-content>
    <ion-text><h4>Total: {{precioTotal  | currency:"COP":"symbol"}}</h4></ion-text>
    <ion-text><h5>Enviar a {{storedDireccion}}</h5></ion-text>
    <br>
    <ion-text *ngIf="storedInstrucciones !== ''"><h5>Instrucciones {{storedInstrucciones}}</h5></ion-text>
  </ion-card>
  <ion-button expand="full" color="success" (click)="pagoExitoso()">Pagar</ion-button>
</div>
<div *ngIf="precioTotal === 0">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Pedido</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-text>Aun no tienes ordenes preparadas!</ion-text>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-button class="custom2" expand="block" [routerLink]="['/pide-en-linea']">Pide en Línea
    <ion-icon aria-hidden="true" name="bicycle" slot="start"></ion-icon>
  </ion-button>
  <br>
  <ion-button class="custom1" expand="block" [routerLink]="['/home-usuario-loggeado']">Volver al Inicio
    <ion-icon slot="start" name="home"></ion-icon>  
  </ion-button>
</div>
</ion-content>
