.centered-header-image {
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  ion-title, ion-button, ion-text, ion-select, ion-input, ion-text{
    font-family: 'Bookman Old Style';
  }
 
  .custom-title-font{
    font-family: 'Bookman Old Style';
  }
 