.centered-header-image {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 50px;
  }
ion-icon{
  width: 35px;
  height: 35px;
}
.custom1 {
  --background: #03381d;
}
.custom2 {
--background:  rgb(120, 2, 2);
}
