.centered-header-image {
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  .custom-title-font{
    font-family: 'Bookman Old Style';
  }

  ion-title, ion-card-title, ion-button {
    font-family: 'Bookman Old Style';
  }
 