.centered-header-image {
    display: block;
    margin: 0 auto;
    text-align: center;
    height: 40px;
    width:80px;
  }
ion-icon{
  width: 35px;
  height: 35px;
}
ion-card-title{
  color:#fed49c;
  font-weight:bold;
}