    .custom-toolbar{
    --background: url('/assets/Images/recupera.jpg') no-repeat center center / cover;
    }

    .custom-title-font{
      font-family: 'Bookman Old Style';
    }
  
    ion-title, ion-item, ion-button {
      font-family: 'Bookman Old Style';
    }
    .custom {
        --background: #03381d;

      }
    .custom1 {
        --background:  rgb(120, 2, 2);
      }