<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-title style="text-align: right;"><b>Pizzas Locas Alvarito</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="auth-form">
  <ion-item class="ion-margin">
    <ion-label class="ion-text-wrap">
      <h1 style="color:#fed49c"><b>Bienvenido(a)</b></h1>
      <p style="color:white">
        <br>
        Si ya haces parte de nuestros crazy users, inicia sesión; de lo contrario te invitamos a registrarte para realizar tu 
        pedido y disfrutar de nuestras maravillosas pizzas.
    </ion-label>   
  </ion-item> 

  <ion-grid>
    <ion-row>
      <ion-col class="ion-align-self-center">
        <ion-button [routerLink]="['/registro']" expand="block" color="primary">
          <ion-icon slot="start" name="person-add" color="dark"></ion-icon>  
        Registrate</ion-button>

        <span class="divider line one-line"></span>
        <span class="already"></span>

        <ion-button [routerLink]="['/login']" expand="block" color="danger">
          <ion-icon slot="start" name="person" color="dark"></ion-icon>  
        Inicia Sesión</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
