<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: right;"><b>Registrate</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>    
    <ion-item lines="full">
      <ion-label class="custom-title-font" position="floating"><b>Correo Electrónico</b></ion-label>
      <ion-input type="text" #email required></ion-input>
    </ion-item> 
    <ion-item lines="full">
      <ion-label class="custom-title-font" position="floating"><b>Contraseña</b></ion-label>
      <ion-input type="password" #password required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col> 
      <ion-button type="submit" (click)="signUp(email, password)" expand="block">
        <ion-icon slot="start" name="pizza" style="color:#fed49c"></ion-icon>  
        Registrarse</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>